# Book Recommender System

In [16]:
import numpy as np
import pandas as pd

from sklearn.neighbors import NearestNeighbors

In [17]:
ratings = pd.read_csv("datasets/Ratings.csv", delimiter=";")
ratings.head()

   User-ID        ISBN  Rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [18]:
books = pd.read_csv("datasets/Books.csv", delimiter=";")
books.head()

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [19]:
rating_books = pd.merge(ratings, books, on="ISBN")
rating_books.head()

,User-ID,ISBN,Rating,Title,Author,Year,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [20]:
rating_books_sample = rating_books.sample(frac=.01, random_state=1)

In [21]:
rating_books_pivot = rating_books_sample.pivot_table(index='Title', columns='User-ID', values='Rating').fillna(0)

In [22]:
rating_books_pivot.head()

User-ID,8,228,243,254,337,392,446,638,651,805,...,278194,278221,278376,278418,278535,278554,278582,278633,278668,278843
Title,,,,,,,,,,,,,,,,,,,,,
'A Hell of a Place to Lose a Cow': An American Hitchhiking Odyssey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01-01-00: The Novel of the Millennium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"1,001 Facts Somebody Screwed Up",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"10 Steps in Writing the Research Paper (10 Steps in Writing the Research Paper, 5th ed)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100 Great Archaeological Discoveries,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
knn = NearestNeighbors(metric='cosine', n_neighbors=5)
knn.fit(rating_books_pivot)

NearestNeighbors(metric='cosine')

In [25]:
book_title = ['100 Great Archaeological Discoveries']
indices=knn.kneighbors(rating_books_pivot.loc[book_title], 10, return_distance=False)

print("Recommended Books:\n")
for index, value in enumerate(np.array(rating_books_pivot.index)[indices][0]):
    print((index+1),". ",value)

Recommended Books:

1 .  Someday Angeline (Avon/Camelot Book)
2 .  Someday Soon
3 .  Some Can Whistle
4 .  Some Kind Of Incredible (20 Amber Court) (Silhoutte Desire, No. 1395)
5 .  Somebody Come and Play
6 .  Somebody'S Dead In Snellville
7 .  Someday (Denise Little Presents)
8 .  Solo
9 .  Something About Nothing
10 .  Something Wicked