# Book Recommender System

## Project Setup

Import libraries

In [2]:
import numpy as np
import pandas as pd

from sklearn.neighbors import NearestNeighbors

Load the ratings dataset

In [3]:
ratings = pd.read_csv("datasets/Ratings.csv", delimiter=";")
ratings.head()

   User-ID        ISBN  Rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

Load the books dataset

In [4]:
books = pd.read_csv("datasets/Books.csv", delimiter=";")
books.head()

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

Merge the ratings and books dataset

In [5]:
rating_books = pd.merge(ratings, books, on="ISBN")
rating_books.head()

,User-ID,ISBN,Rating,Title,Author,Year,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [13]:
rating_books_sample = rating_books.sample(frac=.10, random_state=1)

In [14]:
rating_books_pivot = rating_books_sample.pivot_table(index='Title', columns='User-ID', values='Rating').fillna(0)

In [15]:
knn = NearestNeighbors(metric='cosine', n_neighbors=5)
knn.fit(rating_books_pivot)

NearestNeighbors(metric='cosine')

In [16]:
book_title = ['100 Great Archaeological Discoveries']
indices=knn.kneighbors(rating_books_pivot.loc[book_title], 10, return_distance=False)

print("Recommended Books:\n")
for index, value in enumerate(np.array(rating_books_pivot.index)[indices][0]):
    print((index+1),". ",value)

Recommended Books:

1 .  Slightly Sinful
2 .  Slightly Settled (Red Dress Ink)
3 .  Slightly Wicked (Get Connected Romances)
4 .  Slightly Tempted
5 .  Slightly Single (Red Dress Ink (Paperback))
6 .  Slime Time (BC 10) (Bone Chillers)
7 .  Slightly Shady
8 .  Slightly Guilty (Avon Mystery)
9 .  Slightly Married (Get Connected Romances)
10 .  Sliver: A Novel